<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>

{% include "navbar.html" %}

<section class="py-1">
    <div class="row mt-5">
        <div class="col-md-7 offset-lg-2">
            <img src="{{ url_for('video_feed') }}" width="100%" class="img-thumbnail">
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 offset-lg-2">
            <button class="btn btn-danger" onclick="goBack()" > Stop & Go Back </button>
            <!-- href="{{ url_for('train_classifier', nbr=prs) }} -->
        </div>
    </div>


</section>

<script>
function goBack() {
  window.history.back();
}
</script>

</body>
</html>