<!DOCTYPE html>
<html lang="en">
<head>
    {% include "head.html" %}
</head>
<body>

{% include "navbar.html" %}

<section class="py-1">
    <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2">
            <h3>Participants Data</h3>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <a href="/addprsn" type="button" class="btn btn-success btn-lg"><b>Add Student</b></a>
                </div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg-4">
                    <a href="/fr_page" type="button" class="btn btn-info btn-lg"><b>Start Face Recognition</b></a>
                </div>
            </div>

            <br>
            <table class="table-hover" style="width: 80%">
                <thead>
                    <tr>
                        <th>Student Id</th>
                        <th>Name</th>
                        <th>Program</th>
                        <th>Active</th>
                        <th>Added</th>
                        <th>Remove Data</th>
                        
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                        <tr>
                            <td>{{item[0]}}</td>
                            <td>{{item[1]}}</td>
                            <td>{{item[2]}}</td>
                            <td>{{item[3]}}</td>
                            <td>{{item[4]}}</td>
                            <td><button onclick="deleteRow('{{item[0]}}')" class="btn btn-danger">Delete</button></td>
                            
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</section>
<script>
    function deleteRow(studentId) {
        $.ajax({
            type: "POST",
            url: "/delete_row",
            data: {'student_id': studentId},
            success: function(data) {
                alert('Row deleted successfully');
                window.location.reload();  // Reload the page after deleting the row
            },
            error: function() {
                alert('Error deleting row');
            }
        });
    }
    </script>

</body>
</html>